<ul>
	<% meses.each do |mes_nome, mes| %>
	<li class="mes">
		<h3><%= mes_nome %></h3>
		<ul class="subdivisoes">
			<% mes.financeiro.subdivisoes.each do |nome, subdivisao| %>
			<li class="subdivisao">
				<ul class="subdivisao">
					<li class="nome"><%= nome %></li>
					<li class="valor"><%= sprintf("%.2f", subdivisao.valor) %></li>
				</ul>
			</li>
			<% end %>
		</ul>
		<% end %>
	</li>
</ul>
