<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
		<style>
			ul, li {
				list-style: none;
				padding: 0;
				margin: 0;
        font-size: 14px;
        border-radius: 10px;
			}

			li {
				margin: 5px 10px;
			}

			.subdivisao {
				display: inline-block;
        width: 120px;
        text-align: center;
			}

      li.divida > ul > li.nome {
        font-weight: bold;
      }

      li.divida > ul > li.nome:after {
        content: ":";
      }

      li.divida > ul > li {
        padding: 0;
        margin: 0;
				display: inline-block;
      }

			li.divida {
				display: inline-block;
			}

      div.dividas {
        background-color: #fdd;
      }

      div.dividas > h4:after {
        content: " >";
      }

      div.dividas > h4, div.dividas > ul {
        display: inline;
      }

			li.mes.lucro    { background-color: #dfd; }
			li.mes.prejuizo { background-color: #fdd; }
			li.mes.estavel  { background-color: #ddf; }

			ul.subdivisao.lucro    { background-color: #afa; }
			ul.subdivisao.prejuizo { background-color: #faa; }
			ul.subdivisao.estavel  { background-color: #aaf; }

      li.credito:before {
        content: "+";
      }

      li.debito:before {
        content: "-";
      }

      li.credito, li.debito {
				font-size: 0.85em;
        display: inline;
        padding: 0;
        margin: 0 1px;
      }

      div.divisoria {
        background-color: black;
        height: 10px;
        border-radius: 10px;
      }
		</style>
  </head>
  <body>
    <%= partial :anos, :locals => {:tempo => @tempo} %>

    <div class="divisoria"></div>

    <% if @tempo.anos.last.meses.last.nome == :dezembro %>
      <%= partial :anos, :locals => {:tempo => @tempop} %>
    <% else %>
      <%= partial :meses, :locals => {:meses => @tempop.anos.last.meses} %>
    <% end %>
  </body>
</html>
