<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
		<style>
			ul, li {
				list-style: none;
				padding: 0;
				margin: 0;
			}

			li {
				margin: 5px 10px;
			}

			.subdivisao {
				display: inline-block;
			}
		</style>
  </head>
  <body>
    <h1>Historia</h1>
    <%= partial :ano, :locals => {:tempo => @tempo} %>

    <h1>Planejamento</h1>
    <%= partial :meses, :locals => {:meses => @tempop.anos.values.last.meses} %>
  </body>
</html>
